<div class="list-grid">
    <div class="row">
        {% for pictogram in pictograms %}
        
        <div class="list-grid-item col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <a href="{{ app.request.getSchemeAndHttpHost() }}/admin/pictogramas/editar/{{pictogram.id}}" class="pb-1 d-block"><img src="{{ app.request.getSchemeAndHttpHost() }}/{{pictogram.image}}" width="150" alt="{{pictogram.description}}" /></a>
            <a href="{{ app.request.getSchemeAndHttpHost() }}/admin/pictogramas/editar/{{pictogram.id}}" class="pb-1 d-block"><h2 class="item-description">{{pictogram.description}}</h2></a>
            <a href="{{ app.request.getSchemeAndHttpHost() }}/admin/pictogramas/editar/{{pictogram.id}}" class="settings" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a> &nbsp; 
            <a onclick="return confirm('¿Seguro que quieres eliminarlo?');" href="{{ app.request.getSchemeAndHttpHost() }}/admin/pictogramas/eliminar/{{pictogram.id}}" class="delete" title="Eliminar" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
            
        </div>

        {% endfor %}
        {% if pictograms|length == 0 %}
            <p class="no-results" >No se encontraron elementos</p>
        {% endif %}
    </div>
</div>